/* mobile first */
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f5f5f5;
}

.header-wrap {
  display: block;
  height: 75px;
  background-color: white;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.header-wrap div.site-title {
  height: 75px;
  width: 250px;
}

.header-wrap h1 {
  float: left;
  left: 7%;
  top: 22%;
  height: 27px;
  position: relative;
  font-family: "Vollkorn", serif;
}

.header-wrap a {
  text-decoration: none;
  color: black;
}

.header-wrap nav.wide-screen-nav {
  display: none;
}

/*NOT USING THIS FOR NOW:
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin:  0 auto;
  font-family: "Roboto", sans-serif;
  z-index: -1 ;

  p {
    font-size: 20px;
  }

  a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: $color-main;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;

    &:after {
      content: "";
      position: absolute;
      background: $color-main;
      height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: 0.35s ease;
    }
    &:hover:after,
    &:focus:after,
    &:active:after {
      width: 100%;
    }
  }
}
*/
/*h1 {
  position: relative;
  text-align: center;
  font-family: "Vollkorn", serif;
}*/
.button_container {
  position: absolute;
  top: 3.5%;
  right: 5%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active {
  position: fixed;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}

.button_container.active .middle {
  opacity: 0;
  background: #fff;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}

.button_container span {
  background: #4ec973;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #4ec973;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  font-family: 'Roboto', sans-serif;
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #fff;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/*add media queries for larger screens here */
@media (min-width: 760px) {
  .header-wrap {
    height: 150px;
  }
  .header-wrap .button_container,
  .header-wrap .overlay {
    display: none;
  }
  .header-wrap div.site-title {
    margin: auto;
    display: block;
    width: 400px;
    text-align: center;
    left: 50%;
    right: 50%;
  }
  .header-wrap h1 {
    font-size: 3em;
    text-align: center;
    display: inline-block;
    left: 14%;
  }
  .header-wrap nav.wide-screen-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5;
  }
  .header-wrap nav.wide-screen-nav ul {
    margin: auto;
  }
  .header-wrap nav.wide-screen-nav li {
    display: inline-block;
    padding: 15px 20px;
  }
  .header-wrap nav.wide-screen-nav a {
    text-decoration: none;
    color: black;
  }
  .header-wrap nav.wide-screen-nav a:hover {
    border-bottom: solid 4px #4ec973;
  }
}
/*# sourceMappingURL=menu.css.map */